 html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/*自定义样式*/
/*按钮*/
.swiper-button-next{
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 50%;
    transform:rotate(-90deg);
    margin-left: -13.5px;
}
.swiper-slide{
    background: #f1f1f1;
}
.p-1{
    position: absolute;
    top: 48%;
    left: 37%;
}
.s1_bg_img{
    
    
/*
    animation:lll 1s  linear infinite;
    animation-direction: alternate;
*/
    
}
/*
@keyframes lll{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
*/
.logo{
    position: absolute;
    top: 18%;
}
.mus{
    position: absolute;
    top: 7%;
    left:85%;
    animation:music 1.8s  linear infinite;
    cursor: pointer;
    z-index: 5555;
}
.gif{
    position: absolute;
    top: 4%;
    left: 87%;
    z-index: 5555;
    cursor: pointer;
}
@keyframes music{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.p1{
    font-size: 65px;
    position: absolute;
    position: absolute;
    left: 35.5%;
    top: 35%;
}
.p2{
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    
}
.p3{
    font-size: 35px;
    width: 80%;
    position: absolute;
    top: 22%;
    font-family: '黑体';
    
}
.p4{
    position: absolute;
    top: 43%;
}
.p5{
    position: absolute;
    top: 15%;
    /* right: 20%; */
    left: 20%;
}

.p6 {
    
    font-size: 43px;
    font-family: '黑体';

    position: absolute;
    right:19%;
    top: 26%;

}
.p7 {
    position: absolute;
    top: 57%;
    left: 56%;
    
}
.p8{
   font-size: 43px;
   font-family: '黑体'; 
    position: absolute;
    top: 69%;
    left: 26%;
}
.bg-0{
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -14px;
}
.bg-img{
    position: absolute;
    left: 22%;
    top: 25%;
}
.p9{
    position: absolute;
    top: 10%;
    font-size: 30px;
    font-family: '黑体'; 
}
.p10{
    position: absolute;
    top: 11%;
    font-size: 70px;
    font-family: '黑体'; 
}
.bg-img2{
    position: absolute;
    top: 64%;
    left: 6%;
}
.p11{
    position: absolute;
    top: 68%;
    left: 58%;
    font-size: 42px;
    font-family: '黑体';
}
}